---
http_interactions:
- request:
    method: get
    uri: https://www.reddit.com/r/aitah/comments/1g1m2eo.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Used:
      - '1'
      X-Ratelimit-Remaining:
      - '99.0'
      X-Ratelimit-Reset:
      - '437'
    body:
      encoding: ASCII-8BIT
      string: '[{"kind": "Listing", "data": {"after": null, "dist": 1, "modhash":
        "", "geo_filter": "", "children": [{"kind": "t3", "data": {"approved_at_utc":
        null, "subreddit": "AITAH", "selftext": "I (26F) have been dating my boyfriend,
        Tom (28M), for almost three years. About two years ago, we moved in together
        in the city, trying to start fresh and build careers for ourselves. Tom worked
        in marketing while I worked as an event planner. Things were going pretty
        well for both of us until about six months ago when Tom lost his job due to
        downsizing. He\u2019s been really stressed out since then, struggling to find
        work and becoming increasin[...]
