---
http_interactions:
- request:
    method: get
    uri: https://www.reddit.com/r/aitah/top.json?limit=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Used:
      - '1'
      X-Ratelimit-Remaining:
      - '99.0'
      X-Ratelimit-Reset:
      - '338'
    body:
      encoding: ASCII-8BIT
      string: '{"kind": "Listing", "data": {"after": "t3_1frir88", "dist": 25, "modhash":
        "", "geo_filter": "", "children": [{"kind": "t3", "data": {"approved_at_utc":
        null, "subreddit": "AITAH", "selftext": "My wife was sitting in the recliner
        watching her iPad right outride the kids bedrooms. I figure I\u2019m in the
        clear to take a long shower. When I turn the shower off I hear my 3 year old
        crying and screaming for daddy. I hurry. \n\nAs I\u2019m going through the
        family room, I look at my wife (sitting watching her iPad) and say, \u201cYou
        couldn\u2019t calm him down?\u201d She says, \u201cNo, I tried three times.\u201d\n\nI
        go into his room and [...]
