---
http_interactions:
- request:
    method: get
    uri: https://www.reddit.com/r/aitah/top.json?limit=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Used:
      - '5'
      X-Ratelimit-Remaining:
      - '95.0'
      X-Ratelimit-Reset:
      - '516'
    body:
      encoding: ASCII-8BIT
      string: '{"kind": "Listing", "data": {"after": "t3_1g5v399", "dist": 3, "modhash":
        "", "geo_filter": "", "children": [{"kind": "t3", "data": {"approved_at_utc":
        null, "subreddit": "AITAH", "selftext": "Edit: most of you figured it out
        anyway. It is Huntingtons.  \n  \nI (28F) recently found out I have a serious
        hereditary illness that\u2019s going to screw up my life, and I am *so* mad
        I can barely type this out. It\u2019s a degenerative illness, no cure, nothing.
        My body\u2019s just gonna slowly get worse. And the kicker? My parents have
        known this could happen my *whole* life and never said a damn word.\n\nThis
        illness runs in my family. My d[...]
- request:
    method: get
    uri: https://www.reddit.com/r/AITAH/comments/1g5o3dh/aita_for_calling_my_parents_selfish_for_having_me.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Used:
      - '6'
      X-Ratelimit-Remaining:
      - '94.0'
      X-Ratelimit-Reset:
      - '516'
    body:
      encoding: ASCII-8BIT
      str[...]
- request:
    method: get
    uri: https://www.reddit.com/r/AITAH/comments/1g5jze2/aita_for_exposing_my_wifes_cheating_and_not.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Used:
      - '7'
      X-Ratelimit-Remaining:
      - '93.0'
      X-Ratelimit-Reset:
      - '513'
    body:
      encoding: ASCII-8BIT
      string: '[...]
