---
http_interactions:
- request:
    method: get
    uri: https://www.reddit.com/r/AITAH/comments/1f3tcsd/aitah_for_laughing_in_my_sils_face_when_she_dna.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Used:
      - '1'
      X-Ratelimit-Remaining:
      - '99.0'
      X-Ratelimit-Reset:
      - '269'
    body:
      encoding: ASCII-8BIT
      string: '[{"kind": "Listing", "data": {"after": null, "dist": 1, "modhash":
        "", "geo_filter": "", "children": [{"kind": "t3", "data": {"approved_at_utc":
        null, "subreddit": "AITAH", "selftext": "I, 30 M, have a daughter who''s 6.
        I am not biologically related to her *at all*. There is no blood relation
        between us.\n\nI was friends with her mother for most all of my childhood.
        We were never involved romantically and were always just friends. She had
        her daughter at 23 with her 25 year old husband. When my daughter was a newborn
        (About 3 months technically) both her mother and father were killed. I won''t
        go into too much detail for privac[...]
